body {
	user-select: none;
	background: whitesmoke;
	overflow-x:hidden;
}
h1,h2,h3,h4,p,a {
	animation: popup 1s;
	font-family: Helvetica;
	color: black;
	text-decoration: none;
}
#logo {
	animation: fadeout 1s;
	color: black;
	margin-top: 150px;
	margin-bottom: 200px;
	text-align: left;
	margin-left: 20%;
	font-family: Helvetica;
	font-size: 900%;
}
#bg0 {
	background: linear-gradient(55deg,gray,pink);
	width: 1200px;
	margin: auto;
	height: 600px;
	border-radius: 80px;
}
#bg0t {
	padding: 10%;
	color: whitesmoke;
	text-align: center;
	font-size: 500%;
}
#bg0c {
	font-size: 200%;
	margin-left: 75%;
	margin-top: -30%;
	color: whitesmoke;
}
#bg0a {
	margin-top: -65%;
	width: 270px;
	height: 270px;
	margin-left: 3%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background: linear-gradient(90deg,gray,pink);
}
#bg0b {
	margin-top: -180px;
	width: 270px;
	height: 270px;
	border-radius: 30px;
	margin-left: 5%;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
	background: linear-gradient(90deg,gray,pink);
}
#bg0d {
	margin-top: -200px;
	width: 270px;
	height: 270px;
	border-radius: 90px;
	margin-left: 7%;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
	background: linear-gradient(90deg,gray,pink);
}
#bg0e {
	margin-top: -47%;
	font-size: 500%;
	margin-left: 20%;
}
#bg0f {
	margin-top: 30%;
	font-size: 500%;
	margin-left: 65%;
}
#bg0g {
	margin-top: -50%;
	font-size: 500%;
	margin-left: 80%;
}

.gr-bg {
	animation: fadeout 1s;
	color: whitesmoke;
	width: 160px;
	background: linear-gradient(55deg,gray,pink);
	font-family: Helvetica, bold;
	margin-top: 30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.mbr {
	display: none;
}

.article {
	animation: fadeout 1s;
	color: black;
	margin-top: 50px;
	margin-bottom: 200px;
	text-align: left;
	margin-left: 20%;
	font-family: Helvetica;
	font-size: 900%;
}
.description {
	animation: fadeout 1s;
	margin-top: 60px;
	line-height: 70px; 
	text-align: center;
	font-size: 300%;
}
.link {
	transition: 0.5s;
	animation: fadeout 1s;
	color: whitesmoke;
	width: 250px;
	border-radius: 20px;
	background: linear-gradient(55deg,gray,pink);
	font-family: Helvetica, bold;
	margin-top: 30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 300%;
}
.link:hover {
	transition: 0.5s;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transform: translateY(-5px);
}
.coddy-window-bg {
	animation: fadeout 1s;
	background: linear-gradient(55deg,gray,pink);
	width: 720px;
	height: 470px;
	margin-left: auto;
	margin-right: auto;
}
#coddy-window-bg0 {
	transform: translateY(0px);
	margin-top: 50px;
}
#coddy-window-bg1 {
	transform: translateY(-250px);
	margin-bottom: -200px;
}
.coddy-window{
	display: flex;
	background: black;
	width: 702px;
	height: 452px;
	border-radius: 0px;
}
#coddy-window0 {
	background: url(https://sun9-15.userapi.com/impg/wKBX5GyV3ZBm4zyJ8gWKu6ggtuk_pbNpMPpbAg/QUacJxppchw.jpg?size=702x452&quality=95&sign=c5deb79e6c6aa5394c115031fda83099&type=album);
	transform: translateX(10px)translateY(10px);
}
#coddy-window1 {
	background: url(https://sun9-21.userapi.com/impg/rlPg6XIMAgWa2iE58N5ZdNFYv2KhqDgJtDhFVw/W9gt2dVp7cQ.jpg?size=702x452&quality=95&sign=1c8428a193f5bcafc4406dda6bed38c8&type=album);
	transform: translateX(10px)translateY(10px);
}
.arrow-bg {
	transition: 0.5s;
	animation: fadeout 1s;
	color: pink;
	font-family: Helvetica, bold;
	font-size: 350%;
	text-align: center;
	transform: rotate(90deg);
}
.arrow {
	animation: fadeout 1s;
	color: black;
	font-family: Helvetica, bold;
	font-size: 350%;
	margin-bottom: 15px;
	text-align: center;
	transform: translateY(-60px)rotate(90deg);
}
.divider {
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	background: whitesmoke;
	border-radius: 10px;
	width: 60%;
	height: 10px;
	opacity: 0;
}
#shorter {
	margin-top:-220px;
}
#links, #since {
	text-align: center;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: whitesmoke;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(55deg,gray,pink);
}
@media (min-width: 300px) and (max-width: 1100px) {

	#logo {
		font-size: 850%;
		margin-left: 10%;
		margin-top: 300px;
		margin-bottom: 300px;
	}
	#bg0{
		width: 90%;
		margin-bottom: 100px;
	}
	.article {
		margin-left: 10%;
		font-size: 850%;
		line-height: 150%;
	}
	.arrow-bg {
		display: none;
	}
	.arrow, #since {
		font-size: 700%;
	}
	.description {
		margin-top: 200px;
		font-size: 600%;
		line-height: 140%;
	}
	#shorter {
		margin-top: 100px;
	}
	.link {
		font-size: 800%;
		width: 70%;
	}
	#links {
		margin-top: 200px;
		font-size: 600%;
	}
	#download, #ver, #bg0c, #bg0a, #bg0b, #bg0d {
		display: none;
	}
	#bg0e {
		margin-top: -63%;
		margin-left: 5%;
		font-size: 500%;
	}
	#bg0f {
		margin-top: 35%;
		font-size: 500%;
	}
	#bg0g {
		left: 50px;
	}
	.mbr {
		display: block;
	}
	.nbr {
		display: none;
	}

}

@keyframes fadeout {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}
