@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
	transition: 1s;
	user-select: none;
	background: whitesmoke;
	overflow-x: hidden;
}
h1, h2, h3, a {
	transition: 1s;
	font-family: Helvetica;
	color: black;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
#l {
	border-radius: 20px;
	background: linear-gradient(45deg, pink, gray);
	transition: 1s;
	width: 70px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	color: whitesmoke;
	text-align: center;
	font-size: 400%;
}
.gr {
	transition: 1s;
	background: linear-gradient(45deg, pink, gray);
	color: whitesmoke;
}
h1 {
	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: 10%;
	font-size: 350%;
}
h2 {
	text-align: center;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	font-size: 200%;
}
.b {
	border-radius: 20px;
	transition: 1s;
	background: linear-gradient(45deg, pink, gray);
	color: whitesmoke;
	text-align: center;
	font-size: 250%;
	height: 70px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
.art {
	margin-left: 0px;
	text-align: center;
}
h3 {
	color: whitesmoke;
	top:50%;
	margin-top:-0.625em;
}
@media (min-width: 320px) and (max-width: 670px) {
	h2 { width: 90%; font-size: 220% }
	.b { width: 90% }
}